advent-of-code-data==2.0.1
aocd==0.1
beautifulsoup4==4.11.1
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
Pebble==5.0.4
python-dateutil==2.8.2
pytz-deprecation-shim==0.1.0.post0
requests==2.31.0
six==1.16.0
soupsieve==2.5
termcolor==2.3.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.1.0
